NEXT_PUBLIC_NERO_API_ENDPOINT=https://paymaster-testnet.nerochain.io
NERO_API_KEY=your_nero_api_key_here

# integrations.
NEXT_PUBLIC_INTEGRATIONS_IO_NET=true
NEXT_PUBLIC_INTEGRATIONS_RECALL=false
NEXT_PUBLIC_CHAINOPERA_API=